<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title> Contacto </title>
	<link rel="stylesheet" href="partials/estiloContact.css">


</head>
<body>

	<form action="//localhost:3000/correo.php" method="post">
		<input type="text" placeholder="Nombre" name="nombre" required="">
		<input type="email" placeholder="Email" name="email" required="">
		<input type="text" placeholder="Asunto" name="asunto" required="">
		<textarea placeholder="Mensaje" name="msg" required=""></textarea>
		<input type="submit">
	</form>

	<%- include ('partials/footer.html') %>
</body>
</html>